@page "/employees"

@using BlazorApp1.Service
@using Service;
@inject taskService EmployeeService

<h3>EmployeeList</h3>




@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>MobileNumber</th>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in employees)
            {
                <tr>
                    <td>@forecast.MobileNumber</td>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Employee? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployees();
    }
}
